<% layout('./layouts/boilerplate.ejs') %>
<h1 class="py-3 text-center">Edit Campground</h1>
<div class="row justify-content-center">
  <div class="col-6 rounded m-3 p-3">
    <form
      action="/campgrounds/<%= camp._id %>?_method=PUT"
      method="post"
      novalidate
      class="needs-validation"
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label for="title" class="form-label fs-5">Title</label>
        <input
          type="text"
          class="form-control"
          id="title"
          name="campground[title]"
          value="<%= camp.title %>"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="location" class="form-label fs-5">Location</label>
        <input
          type="text"
          class="form-control"
          id="location"
          value="<%= camp.location %>"
          name="campground[location]"
          required
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="price" class="form-label fs-5">Price</label>
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">$</span>
          <input
            type="number"
            class="form-control"
            id="price"
            value="<%= camp.price %>"
            name="campground[price]"
            aria-label="price"
            aria-describedby="addon-wrapping"
            required
          />
        </div>
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label for="description" class="form-label fs-5">Description</label>
        <textarea
          class="form-control"
          id="description"
          rows="3"
          name="campground[description]"
          required
        >
<%= camp.description %></textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label for="image" class="form-label fs-5">Add Image</label>

        <input
          type="file"
          class="form-control"
          id="image"
          name="image"
          multiple
        />

        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <% camp.images.forEach((img,i) => { %>
        <img src="<%= img.thumbnail %>" class="img-thumbnail" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            id="image-<%=i %>"
            value="<%= img.filename %>"
          />
          <label for="image-<%=i %>">Delete</label>
        </div>
        <% }) %>
      </div>
      <button class="btn btn-success mb-3">Update campground</button>
    </form>
  </div>
</div>
